.headerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    .header{
        color: white;
        text-transform: capitalize;
    }
}

.productsContainer{
    margin: 20px;
}

.modalSpace{
    padding-top: 30px;
}

.plusIcon{
    color: white;
    background-color: #001529;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 50px;
    position: absolute;
    bottom: -50px;
    margin-bottom: 10px;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transform: translate(-50%, 50%);
}